[Desktop Entry]
Name=Anti Ruscher
Comment=fonografo
Exec=/usr/bin/fonografo-start
Terminal=false
Type=Application
Categories=
#X-GNOME-Autostart-Phase=WindowManager
#NoDisplay=true
