[Desktop Entry]
Name=Webcam Guvc
GenericName=GTK UVC video viewer
Comment=A video viewer and capturer for the linux uvc driver
# Traduções Simplificadas
Name[bg]=Уеб камера Guvc
Name[cs]=Webkamera Guvc
Name[da]=Webkamera Guvc
Name[de]=Webcam Guvc
Name[el]=Web κάμερα Guvc
Name[es]=Webcam Guvc
Name[et]=Veebikaamera Guvc
Name[fi]=Verkkokamera Guvc
Name[fr]=Webcam Guvc
Name[he]=מצלמת רשת Guvc
Name[hr]=Web kamera Guvc
Name[hu]=Webkamera Guvc
Name[is]=Vefmyndavél Guvc
Name[it]=Webcam Guvc
Name[ja]=Webカメラ Guvc
Name[ko]=웹캠 Guvc
Name[nl]=Webcam Guvc
Name[no]=Webkamera Guvc
Name[pl]=Kamera Guvc
Name[pt]=Webcam Guvc
Name[pt_BR]=Webcam Guvc
Name[ro]=Cameră web Guvc
Name[ru]=Веб-камера Guvc
Name[sk]=Webkamera Guvc
Name[sv]=Webbkamera Guvc
Name[tr]=Web Kamerası Guvc
Name[uk]=Веб-камера Guvc
Name[zh]=网络摄像头 Guvc
_Comment=A video viewer and capturer for the linux uvc driver
TryExec=guvcview
Exec=guvcview
Icon=guvcview
Terminal=false
Type=Application
Categories=Video;AudioVideo;
X-GNOME-Gettext-Domain=guvcview
StartupNotify=true
