[Desktop Entry]
Name[ar]=راقب موارد النظام عن كثب
Name[bg]=Наблюдение на системните ресурси
Name[bn]=সিস্টেম সম্পদ পর্যবেক্ষণ করুন
Name[cs]=Udržujte kontrolu nad systémovými zdroji
Name[de]=Systemressourcen im Auge behalten
Name[el]=Παρακολουθήστε τους πόρους του συστήματος
Name[en_GB]=Keep an eye on system resources
Name[es]=Monitoree los recursos del sistema
Name[eu]=Begiratu sistemaren baliabideak
Name[fa]=نگاهی به منابع سامانه
Name[fi]=Tarkkaile järjestelmän resursseja
Name[fr]=Surveiller les ressources du système
Name[he]=להשגיח על משאבי המערכת
Name[hi]=सिस्टम संसाधनों पर नज़र रखें
Name[hu]=Tartsa szemmel a rendszer erőforrásait
Name[ja]=システムリソースを監視
Name[ka]=თვალყურის დევნება სისტემურ რესურსებზე
Name[nb]=Hold øye med systemresurser
Name[nl]=Monitor uw systeembronnen en -processen
Name[pl]=Monitoruj zasoby systemu
Name[pt_BR]=Monitore os recursos do sistema
Name[ru]=Отслеживайте системные ресурсы
Name[sl]=Pozorno spremljajte sistemske vire
Name[sv]=Håll ett öga på systemresurser
Name[tr]=Bir gözünüz hep sistem kaynaklarında olsun
Name[uk]=Слідкуйте за ресурсами системи
Name[uz]=Tizim resurslarini kuzatib boring
Name[zh_CN]=随时关注系统资源占用
Name=Keep an eye on system resources
Type=Application
Exec=resources
Terminal=false
Categories=System;
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[ar]=النظام;موارد;مراقب;مرقاب;عمليات;استعمال;مهام;مدير;معالج;ذاكرة;رسوميات;
Keywords[bg]=система;ресурси;наблюдаване;процеси;използване;мениджър;цп;памет;видеокарта;system;resources;monitor;processes;usage;task;manager;cpu;ram;memory;gpu;
Keywords[bn]=সিস্টেম;সম্পদ;মনিটর;প্রক্রিয়া;ব্যবহার;টাস্ক;ম্যানেজার;সিপিইউ;র‍্যাম;মেমোরি;জিপিইউ;
Keywords[cs]=System;Systém;Resources;Zdroje;Sledovat;Monitorovat;Procesy;Využití;Úloha;Manažer;CPU;RAM;Paměť;GPU;
Keywords[de]=System;Ressourcen;Monitor;Überwachung;Prozesse;Benutzung;Auslastung;Task;Manager;CPU;RAM;Speicher;GPU;
Keywords[el]=System;Resources;Monitor;Processes;Usage;Task;Manager;CPU;RAM;Memory;GPU;
Keywords[en_GB]=System;Resources;Monitor;Processes;Usage;Task;Manager;CPU;RAM;Memory;GPU;
Keywords[es]=Sistema;Recursos;Monitor;Procesos;Uso;Tarea;Admin;CPU;RAM;Memoria;GPU;
Keywords[eu]=Sisteam;Baliabideak;Monitorea;Prozesuak;Erabilera;Zeregina;Kudeatzailea;PUZ;RAM;Memoria;PUG;
Keywords[fa]=System;Resources;Monitor;Processes;Usage;Task;Manager;CPU;RAM;Memory;GPU;سامانه;منابع;پایش;فرایند;مصرف;وظیفه;مدیر;پردازنده;رم;حافظه;گرافیک;
Keywords[fi]=System;Resources;Monitor;Processes;Usage;Task;Manager;CPU;RAM;Memory;GPU;järjestelmä;resurssit;valvonta;prosessit;käyttö;tehtävähallinta;suoritin;muisti;
Keywords[fr]=Système;Ressources;Moniteur;Processus;Utilisation;Tâches;CPU;RAM;Mémoire;GPU;
Keywords[he]=מערכת;משאבים;צג;עוקב;מעקב;מוניטור;ניטור;שימוש;משימה;מנהל;מעבד;יע"מ;יע״מ;מעבד גרפי;זיכרון;זכרון;ראם;משימות;
Keywords[hi]=सिस्टम;संसाधन;निगरानी;प्रक्रियाएं;उपयोग;कार्य;प्रबंधक;सीपीयू;रैम;मेमोरी;जीपीयू;
Keywords[hu]=Rendszer;Erőforrások;Megfigyelés;Követés;Felügyelet;Folyamatok;Használat;Feladatkezelő;CPU;RAM;Memória;GPU;
Keywords[it]=Sistema;Risorse;Monitor;Processi;Utilizzo;Attività;Gestore;CPU;RAM;Memoria;GPU;
Keywords[ja]=System;Resources;Monitor;Processes;Usage;Task;Manager;CPU;RAM;Memory;GPU;システム;リソース;モニター;プロセス;使用量;タスク;マネージャー;メモリー;
Keywords[ka]=System;Resources;Monitor;Processes;Usage;Task;Manager;CPU;RAM;Memory;GPU;მეხსიერება;პროცესორი;სისტემა;დატვირთვა;
Keywords[nb]=System;Resurser;Monitor;Prosess;Bruk;Prosesser;Overvåke;Task;Manager;CPU;RAM;Minne;GPU;
Keywords[nl]=System;Resources;Monitor;Processes;Usage;Task;Manager;CPU;RAM;Memory;GPU;systeem;bronnen;systeembronnen;processen;gebruik;verbruik;taak;beheer;geheugen;
Keywords[pl]=System;Zasoby;Monitor;Procesy;Wykorzystanie;Zadań;Menedżer;CPU;RAM;Pamięć;GPU;
Keywords[pt_BR]=Sistema;Resources;Recursos;Monitor;Processos;Uso;Tarefas;Gerenciador;CPU;RAM;Memória;GPU;
Keywords[ru]=System;Resources;Monitor;Processes;Usage;Task;Manager;CPU;RAM;Memory;GPU;Система;Ресурсы;Процессы;ЦП;ОЗУ;Память;Видеоадаптер;Монитор;Использование;
Keywords[sl]=Sistem;Viri;Sredstva;Monitor;Procesi;Raba;opravila;Upravitelj;CPE;RAM;Pomnilnik;GPE;
Keywords[sv]=System;Resurser;Övervaka;Processer;Användning;Uppgift;Hanterare;CPU;Processor;RAM;Minne;GPU;
Keywords[tr]=Sistem;Kaynaklar;Monitör;İzle;Süreçler;Kullanım;Görev;Yönetici;CPU;İşlemci;RAM;Bellek; GPU;Ekran Kartı;
Keywords[uk]=System;Resources;Monitor;Processes;Usage;Task;Manager;CPU;RAM;Memory;GPU;система;ресурси;монітор;процеси;менеджер;задачі;процесор;відеокарта;пам'ять;оператива;завис;лаг;
Keywords[uz]=Tizim;Resurslar;Monitor;Jarayonlar;Foydalanish;Vazifa;Menejer;CPU;RAM;Xotira;GPU;
Keywords[zh_CN]=System;Resources;Monitor;Processes;Usage;Task;Manager;CPU;RAM;Memory;GPU;系统;资源;监视器;进程;占用;使用情况;任务;管理器;处理器;内存;显卡;
Keywords[zh_TW]=系統;資源;監控器;處理程序;使用情形;任務;管理員;CPU;RAM;記憶體;GPU;
Keywords=System;Resources;Monitor;Processes;Usage;Task;Manager;CPU;RAM;Memory;GPU;
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=net.nokyan.Resources
StartupNotify=true
X-Purism-FormFactor=Workstation;Mobile;
