Package: big-names-ptbr
Version: 1.0.0-1big4
Architecture: all
Maintainer: Bruno Goncalves <www.biglinux.com.br>
Section: admin
Priority: optional
Installed-Size:36
Description: Best names to apps in pt-br

